body {
    font-family: monospace;
    background: #343c44;
}

#term-border {
    padding: 10px;
    background: #000;
}

#files-border {
    padding: 10px;
    background: slategray;
}

#file-frame {
    height: 800px;
    width: 100%;
}

.dir {
    color: #black;
}

.tabs-container {
    display: flex;
    flex-wrap: wrap;
}

.tabs-container input[type="radio"] {
    display: none;
}

.tabs-container input[type="radio"]:checked + .tab-label {
    background-color: slategray;
}

.tabs-container input[type="radio"]:not(:checked) + .tab-label + .tab-content {
    display: none;
}

.tab-label {
    padding: 5px 15px;
    color: white;
    background-color: darkslategray;
}

.tab-content {
    order: 99;
    width: 100%;
    display: block;
}

.file-section {
    padding: 10px;
    color: #1a1a1a;
    background: #cecece;
    margin-bottom: 10px;

}

.file-section a {
    color: #323232;
}
