* {
     box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#terminal {
    min-height: 96vh;
    padding: 10px;
    background: #000;
}

.terminal-container{
    overflow: hidden;
}

.xterm .xterm-viewport {
    width: initial !important;
}

#file-frame {
    min-height: 95vh;
    width: 100%;
}

.dir {
    color: #000;
}

.tabs-container {
    display: flex;
    flex-wrap: wrap;
}

.tabs-container input[type="radio"] {
    display: none;
}

.tabs-container input[type="radio"]:checked + .tab-label {
    background-color: #000;
}

.tabs-container input[type="radio"]:not(:checked) + .tab-label + .tab-content {
    display: none;
}

.tab-label {
    padding: 10px 15px;
    color: white;
    background-color: darkslategray;
    font-size: 1.2em;
}

.tab-content {
    order: 99;
    width: 100%;
    display: block;
    background-color: #000;
}

.file-section {
    margin: 10px;
    color: #323232;
    background: #cecece;
    line-height: 1.5;
}

.file-section a {
    color: #323232;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
