* {
     box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background: #343c44;
}

#terminal {
    min-height: calc(100vh - 25px);
    padding-left: 10px;
    background: #000;
}

.terminal-container{
    overflow: hidden;
}

.xterm .xterm-viewport {
    width: initial !important;
}

#files-border {
    padding: 10px;
    background: slategray;
}

#file-frame {
    min-height: 96vh;
    width: 100%;
}

.dir {
    color: #000;
}

.tabs-container {
    display: flex;
    flex-wrap: wrap;
}

.tabs-container input[type="radio"] {
    display: none;
}

.tabs-container input[type="radio"]:checked + .tab-label {
    background-color: slategray;
}

.tabs-container input[type="radio"]:not(:checked) + .tab-label + .tab-content {
    display: none;
}

.tab-label {
    padding: 5px 15px;
    color: white;
    background-color: darkslategray;
}

.tab-content {
    order: 99;
    width: 100%;
    display: block;
}

.file-section {
    padding: 10px;
    color: #1a1a1a;
    background: #cecece;
    margin-bottom: 10px;

}

.file-section a {
    color: #323232;
}
