<!DOCTYPE html>
<html lang="en">

<head>
  <title>CDP Terminal</title>
  <link rel="stylesheet" href="./assets/shell.css"/>
  <link rel="stylesheet" href="./assets/xterm.min.css"/>
  <script src="./assets/xterm-addon-fit.min.js"></script>
  <script src="./assets/xterm.min.js"></script>
  <script src="./assets/addon-attach.min.js"></script>
</head>
<body>
<div class="tabs-container">

  <input type="radio" id="tab-1" name="tabs" checked>
  <label for="tab-1" class="tab-label">
    Terminal
  </label>
  <div class="tab-content">
    <div class="terminal-container">
      <div id="terminal"></div>
    </div>
  </div>

  <input type="radio" id="tab-2" name="tabs">
  <label for="tab-2" class="tab-label">
    Files
  </label>
  <div class="tab-content">
    <div class="file-section" id="files">
      <iframe src="/{{ .Token }}/home" frameborder="0" title="File uploads" id="file-frame"></iframe>
    </div>
  </div>
</div>

<script src="./assets/main.js"></script>
<script type="text/javascript">
  init("/{{ .Token }}/shell")
</script>
</body>
</html>
