body {
    font-family: monospace;
}

#term-border {
    padding: 10px;
    background: #000;
}

.tabs-container {
    display: flex;
    flex-wrap: wrap;

    >input[type="radio"] {
        display: none;

        &:checked+.tab-label {
            background-color: darkslategray;
        }
    }

    >input[type="radio"]:not(:checked)+.tab-label+.tab-content {
        display: none;
    }

    .tab-label {
        padding: 5px 15px;
        color: white;
        background-color: slategray;
    }

    .tab-content {
        order: 99;
        width: 100%;
        display: block;
    }
}
